.name {
  width: 100%;
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.textWidth {
  width: 75%;
}

.card {
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}